<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMF"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.elements.IngredientAdapter"
            android:exported="false" />
        <activity
            android:name=".ui.ingredient.IngredientFragment"
            android:exported="false" />
        <activity
            android:name=".ui.main.elements.RoomTemperatureStorageFragment"
            android:exported="false" />
        <activity
            android:name=".ui.main.elements.FreezeFragment"
            android:exported="false" />
        <activity
            android:name=".ui.main.elements.ColdStorageFragment"
            android:exported="false" />
        <activity android:name=".ui.setting.elements.NotificationSettingFragment" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ui.receiver.NotificationReceiver" />
    </application>

</manifest>